name: Release

on:
  push:
    branches:
      - master
  workflow_dispatch:

jobs:
  build-windows:
    strategy:
      fail-fast: false
      matrix:
        include:
          - python-version: '3.10'
            pep-425-tag: 'cp310-cp310'
          - python-version: '3.11'
            pep-425-tag: 'cp311-cp311'

    runs-on: windows-latest

    steps:
    - uses: actions/checkout@v3
    - uses: snickerbockers/submodules-init@v4
    - uses: actions/setup-python@v2.3.3
      with:
        python-version: ${{matrix.python-version}}

    - run: python -m pip install cmake
    - run: python -m pip wheel .
    
    - uses: kittaakos/upload-artifact-as-is@v0
      with:
        path: ${{github.workspace}}/pyspectrum-*.whl

  build-linux:
    strategy:
      fail-fast: false
      matrix:
        include:
          - python-version: '3.10'
            pep-425-tag: 'cp310-cp310'
          - python-version: '3.11'
            pep-425-tag: 'cp311-cp311'

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    - uses: snickerbockers/submodules-init@v4
    - uses: actions/setup-python@v2.3.3
      with:
        python-version: ${{matrix.python-version}}

    - uses: RalfG/python-wheels-manylinux-build@v0.5.0
      with:
        pre-build-command: |
          curl -O https://www.intra2net.com/en/developer/libftdi/download/libftdi1-1.4.tar.bz2
          && tar -xf libftdi1-1.4.tar.bz2
          && mkdir libftdi1-1.4/build
          && cd libftdi1-1.4/build
          && cmake -DCMAKE_INSTALL_PREFIX=/usr ..
          && make
          && make install
          && cd ../..
        python-versions: ${{matrix.pep-425-tag}}
        system-packages: libusb1-devel boost-devel
    
    - uses: kittaakos/upload-artifact-as-is@v0
      with:
        path: ${{github.workspace}}/dist/pyspectrum-*-manylinux*.whl

  upload-docs:
    if: ${{github.ref == 'refs/heads/master'}}
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-python@v2.3.3
        with:
          python-version: '3.10'
#      TODO: install requirements from [build-system]
      - run: 'pip install mkdocs mkdocs-material mkdocstrings mkdocstrings-python mkdocs-jupyter'
      - run: 'mkdocs build'
      - name: Deploy to GitHub Pages
        uses: JamesIves/github-pages-deploy-action@v4.4.1
        with:
          folder: docs_generated

  release:
    if: ${{github.ref == 'refs/heads/master'}}
    runs-on: ubuntu-latest
    needs: [build-windows, build-linux, upload-docs]
    steps:
    - uses: actions/checkout@v3
    - uses: actions/download-artifact@v3.0.1
    - uses: marvinpinto/action-automatic-releases@v1.2.1
      with:
        repo_token: ${{secrets.GITHUB_TOKEN}}
        automatic_release_tag: 'latest'
        title: 'Latest Build'
        files: |
          ${{github.workspace}}/*/*.whl
    - name: Publish distribution to PyPI
#      if: startsWith(github.ref, 'refs/tags')
      uses: pypa/gh-action-pypi-publish@release/v1
      with:
        password: ${{ secrets.PYPI_API_TOKEN }}
        packages-dir: ${{github.workspace}}/libspectrum/
